@charset "UTF-8";

/*RESETANDO AS CONFIGURAÇÕES PADRÕES*/
*{
    margin: 0px;
    padding: 0px;
}

/*IMPORTAÇÃO DAS FONTES*/
@font-face {
    font-family: 'bebas';
    src: url(/fontes/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'android';
    src: url(/fontes/idroid.otf);
    font-weight: normal;
}

/*ATRIBUIÇÃO DE VARIAVEIS PARA CORES E FONTES*/
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;
    
    --fonte-padrão: Arial, Verdana,Helvetica,sans-serif;
    --fonte-destaque:'bebas';
    --fonte-android:'android';

}

/*CONFIGURAÇÃO DO BODY*/
body{
background-color: var(--cor0);
font-family: var(--fonte-padrão);
}

/*CONFIGURAÇÃO DO HEADER H1 E PARAGRAFO*/
header{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
color: white;
font-family: var(--fonte-destaque);
font-weight: normal;
margin-bottom: 20px;
font-size: 3em;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.219);
}

header>p{
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: white;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px ;
    max-width: 500px;
    
}

/*CONFIGURAÇÃO DO NAV E DOS LINKS*/
nav{
background-color: var(--cor5);
padding: 10px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.267);
}

nav>a{
    color: var(--cor0);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav >a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
} 

/*CONFIGURAÇÃO DO MAIN*/
main{
    background-color: white;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3;
    background-image: linear-gradient(to right,var(--cor1),transparent);
    text-indent: 8px;
}

/*CONFIGURAÇÃO DOS PARAGRAFOS/ STRONGS E LINKS DO MAIN*/
main p{
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 2em;
    
}
main strong{
    color: var(--cor4);
    font-weight: bold;
}
main a{
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    padding: 2px 6px;
    color: var(--cor5);
}
main a::after{
    content: '\00A0\1F517';
}
main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

/*CONFIGURAÇÕES DAS IMAGENS*/
main img{
width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

.video{
    background-color: var(--cor5);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}
.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

/*Configuração do iside*/
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
}
aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
aside > ul{
    list-style-type: '✔️\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

/*CONFIGURAÇÃO DO RODAPÉ*/
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
